
<input
type="text"
class="form-control w-50 mx-auto shadow-sm"
[(ngModel)]="searchEvent"
placeholder="Rechercher par titre..."
/>  <div class="container mt-5">
    <ng-container *ngFor="let post of posts">
    <h2 class="mb-4 text-center">{{post.eventname}}</h2>
    <div class="row g-4">

      <div class="col-md-6 col-lg-4">
        <div class="card p-3 event-card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-muted">{{post.description}}</p>
            <span class="event-type-badge">{{post.type}}</span>
          </div>
        </div>
      </div>


    </div>
   </ng-container>
  </div>


