<div class="container">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter your name" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter your email" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" placeholder="Enter your password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
</div>
